
<h4><%= link_to "#{city.city_name}", city_path(city) %></h4>
<h5> This city rates at <%= city.rating %> of 5 stars</h5>
<p><%= city.description %></p>

<tr>
  <td><%= link_to 'Show', city_path(city) %></td>
  <td><%= link_to 'Edit', edit_city_path(city) %></td>
  <td><%= link_to 'Delete', city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
