<h1> Add a new city to rate </h1>
<%= form_for @city do |f| %>

  <%= f.label :city_name %>
  <%= f.text_field :city_name %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit %>
<% end %>
