<% city = @city %>
<%= render partial: "city", object: city %>

<%= link_to 'Rate this City!', new_city_review_path(@city) %>

<% @city.reviews.reverse.each do |review| %>
  <h5> <%= review.title %> </h5>
  Rating:<%= review.rating %>
  <p> <%= review.body%></p>

<% end %>
