<h1>New Review for <%= @city.city_name %></h1>

<%= form_for [@city, @review] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :body %>
  <%= f.text_field :body %>

  <%= f.submit %>
<% end %>
