<h1>New Review for <%= @city.city_name %></h1>

<%= form_for [@city, @review] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :body %>
  <%= f.text_field :body %>
  <%= f.label :rating %>
  1
  <%= f.radio_button :rating, '1', value: 1 %>
  2
  <%= f.radio_button :rating, '2', value: 2 %>
  3
  <%= f.radio_button :rating, '3', value: 3 %>
  4
  <%= f.radio_button :rating, '4', value: 4 %>
  5
  <%= f.radio_button :rating, '5', value: 5 %>

  <%= f.submit %>
<% end %>
